<svg-icon src='assets/svgs/icon.svg'></svg-icon> 
<div class="my-color">Angular works!</div>
<p>
    <button (click)="getPosts()">Get posts</button>
</p>

<div *ngIf="posts$ | async as posts">
    Posts: 
    <div *ngFor="let post of posts.slice(0, 10)">
        {{post.title}}
    </div>
</div>

<div>
    <ul>
        <li><a routerLink="/first-component">Go to first component</a></li>
        <li><a routerLink="/second-component">Go to second component</a></li>
    </ul>
</div>
<router-outlet></router-outlet>